<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1><strong>Name:</strong> <%= animal.name %></h1>

    <a href="/<%= animal._id %>/edit">Update animal</a></br>

    <p><a href="/">Home</a></p>

  </body>
</html>
